# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos generados por la aplicación
cartones/*.md
cartones/*.png
cartones/*.zip
cartones/imagenes_de_los_cartones/*.png
cuentas_familia/
cartonesjugando.md
# Temporalmente comentado para permitir acceso al archivo
comprobar_carton.md
estado_envio.json
datos_bingo.json
estado_imagenes.json
imagenes_recientes.json

# Otros
.DS_Store
Thumbs.db
PyWhatKit_DB.txt
cuentas_absolutas.sh